body {
    background-color: beige;
}

#whiteboard {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
}

#colorPicks {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.colorPick {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
}